<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Aritz</title>
</head>
<body>
    <h1>Mi humilde examen</h1>
    <ul>
        <li><a href="{% url 'titulo_pais' 'fantasy' 'unidos' %}">Titulo y Pais</a></li>
        <li><a href="{% url 'plataforma_analisis' 'Sony' 'Play Station' 75 %}">Plataforma y Analisis</a></li>
        <li><a href="{% url 'ventas_estimadas' %}">Ventas estimadas</a></li>
        <li><a href="{% url 'analisis_anyo' '2025' %}">Analisis en 2025</a></li>
    </ul>
</body>
</html>